{% extends 'base/base.html' %}
{% load static %}

{% block title %}Measurement Logs{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <table id="measurementTable" class="table table-striped table-bordered"></table>
      </div>
    </div>
  </div>
</div>

<script id="measurement-data" type="application/json">
  {{ logs_json|safe }}
</script>
{% endblock content %}

{% block extrascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css"/>

<script>
$(document).ready(function () {
    const data = JSON.parse(document.getElementById("measurement-data").textContent);

    const rows = data.map(log => [
        log.date,
        log.time,
        log.title,
        log.value,
        log.unit,
        log.notes,
        `
          <a href="${log.edit_url}" class="btn btn-primary btn-sm" title="Edit">
             <i class="fa fa-edit"></i>
          </a>
          <a href="${log.delete_url}" class="btn btn-danger btn-sm" title="Delete">
             <i class="fa fa-trash"></i>
          </a>
        `
    ]);

    $('#measurementTable').DataTable({
        data: rows,
        columns: [
            { title: "Date" },
            { title: "Time" },
            { title: "Title" },
            { title: "Value" },
            { title: "Unit" },
            { title: "Notes" },
            { title: "Action", orderable: false, searchable: false }
        ]
    });
});
</script>
{% endblock extrascripts %}
