{% extends 'base/base.html' %}
{% load static %}

{% block title %}Update Measurement Log{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Update Measurement Log</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-row border pt-3">
                    <div class="col-md-4 form-group">
                        <label for="{{ form.title.id_for_label }}">Title</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="{{ form.measurement_time.id_for_label }}">Measurement Time</label>
                        {{ form.measurement_time }}
                    </div>
                </div>
                <div class="form-row border pt-3">
                    <div class="col-md-5 form-group mb-3">
                        <label for="{{ form.mesaurement_value.id_for_label }}">Measurement Value</label>
                        {{ form.mesaurement_value }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="{{ form.units.id_for_label }}">Units</label>
                        {{ form.units }}
                    </div>
                </div>
                <div class="form-row">
                <div class="form-group">
                    <label for="{{ form.notes.id_for_label }}">Notes</label>
                    {{ form.notes }}
                </div>
                </div>
                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'calendarapp:measurement_log_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

<!-- Flatpickr CSS & JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("[name='measurement_time']", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: true,
        });
    });
</script>
{% endblock content %}